apiVersion: apps/v1
kind: Deployment
metadata:
  name: front
  namespace: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
      - name: front
        image: mariem507/front:latest
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: front-service
  namespace: flask-app
spec:
  type: NodePort
  selector:
    app: front
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30080
